<div class="row" ng-init="get_user()">
<div class="navbar navbar-default navbar-fixed-top">
 <div class="navbar-header"><a class="navbar-brand" href="#">DEPLOY'it</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar">Homepage</span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Instances</a></li>
        <li><a href="#">{{display_name}}</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
</div>
</div>